<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NoTwitter</title>
</head>
<body>
    <div id="titulo">
        <h1>NoTwitter</h1>
    </div>
    <div class="container">
        <div id="telaTwitts">
            <p>Helloww worldd</p>
        </div>
        <div id="inputArea">
            <input type="search" name="pesquisa" class="form-control" placeholder="Digite aqui sua pesquisa.">
            <button class="btn btn-success" type="submit">Pesquisar</button>
        </div>
    </div>
</body>
</html>